body,
html{
   width: 100%;
   height: 100%;
   background: #999999;
}
.home{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item{
  height: 500px;
  width: 500px;
  background: #fff;
}
.content{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.in{
  padding: 15px;
}
.logo{
  width: 90px;
  height: 90px;
  margin-bottom: 125px;
  margin-left: 45px;
  margin-right: 130px;
  line-height: 90px;
}
.logo h1{
  font-weight: 700;
  font-size: 40px;
}
input[type=text],
input[type=password]{
  background: 0 0;
  border: 0;
  box-shadow:none;
  border-bottom: 1px solid #afb5c1;
  border-radius: 0;
}
.lg{
  margin-bottom: 30px;
}
.input-group-addon{
  background: 0 0;
  border: 0;
  color: #afb5c1;
}
.btn-info{
  border:1 ;
  background: #ff3366;
  border-radius: 30px;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 7px;
  padding-bottom: 7px;
}
input[type=text],
input[type=password]:focus{
  box-shadow: none !important;
}
.forget{
  color: #0000;
}
